<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSD</title>
    <link rel="stylesheet" href="/public/css/output.css" />
  </head>
  <body class="bg-gray-800 p-4 shadow-lg text-white">
    <h1 class="text-center">Obtén ventajas donando!</h1>
    <div class="text-center">
      <div>Tener foto de perfil</div>
      <div>Cambiar el color de tu nombre</div>
      <div>Enviar emojis como gifs</div>
      <div>Enviar archivos dentro del chat</div>
    </div>

    <br /><br />
    <div class="text-center">
      <h1>Dona con:</h1>
      <div><p class="text-xs">Mínimo 2€</p></div>
      <br />
      <div class="text-2xl">
        <div>
          <a href="https://paypal.me/gabrielgsd">https://paypal.me/gabrielgsd</a>
        </div>
        <br />
        <div>
          <a href="https://ko-fi.com/gabrielgsd">https://ko-fi.com/gabrielgsds</a>
        </div>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="m-8">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="SQSYBFQEEMVMG" />
          <input type="hidden" name="currency_code" value="EUR" />
          <input
            type="image"
            src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif"
            border="0"
            name="submit"
            title="PayPal, la forma rápida y segura de pagar en Internet."
            alt="Comprar ahora" />
        </form>
      </div>
    </div>
  </body>
</html>