<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/css.css">
    <title>GSD-Login</title>
  </head>
  <body>
    <form action="login" id="login" class="inicio">
      <h1>Bienvenido a la página de inicio de sesión</h1>
      <table>
        <tr>
          <td class="reg">
            <label for="nombre">Nombre:</label>
          </td>
          <td >
            <input type="text" id="nombre" class="input_nombre"/>
          </td>

        </tr>
        <tr>
          <td class="reg">
            <label for="passwd">Password:</label>
          </td>
          <td>
            <input type="password" id="passwd" class=" input_pass"/>
          </td>
        </tr>
        <tr class="botones">
          <td class="td_button" colspan="2">
            <input type="button" value="Login" id="button-login" class="button_login"/>
          </td>
        </tr>
      </table>
    </form>
    <script>
      document.getElementById("button-login").addEventListener("click", function () {
        const nombre = document.getElementById("nombre").value;
        const passwd = document.getElementById("passwd").value;

        if (!nombre || !passwd) return alert("Debes poner usuario y contraseña!");


        
        const data = {
          name: nombre,
          passwd: passwd,
        };

        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            if (!response.ok) {
              return response.json().then((errorData) => {
                throw new Error(errorData.message || "Ha ocurrido un error.")
              })
            }
            return response.json();
          })
          .then(() => {
            alert("Login exitoso!");
            window.location.href = "/msg";
          })
          .catch((error) => {
            console.error("Error", error.message);
            alert(error.message || "Ha ocurrido un error al hacer login, intentalo más tarde.");
          });
      });
    </script>
  </body>
</html>
