<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSD-Login</title>
  </head>
  <body>
    <form action="login" id="login">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" />
      <label for="passwd">Password:</label>
      <input type="password" id="passwd" />
      <input type="button" value="login" id="button-login" />
    </form>
    <script>
      document.getElementById("button-login").addEventListener("click", function () {
        const nombre = document.getElementById("nombre").value;
        const passwd = document.getElementById("passwd").value;

        if (!nombre || !passwd) return alert("Debes poner usuario y contraseña!");


        
        const data = {
          name: nombre,
          passwd: passwd,
        };

        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            if (!response.ok) {
              return response.json().then((errorData) => {
                throw new Error(errorData.message || "Ha ocurrido un error.")
              })
            }
            return response.json();
          })
          .then(() => {
            alert("Login exitoso!");
            window.location.href = "/msg";
          })
          .catch((error) => {
            console.error("Error", error.message);
            alert(error.message || "Ha ocurrido un error al hacer login, intentalo más tarde.");
          });
      });
    </script>
  </body>
</html>
