<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <h1>Chat:</h1>
    <input type="text" id="mensaje" placeholder="Escribe un mensaje">
    <button id="enviar">Enviar</button>
    <button id="clear">Limpiar chat</button>
    <div id="mensajes"></div>
    <script src="/jquery.js"></script>
    <script src="/public/js/messages.js"></script>

</body>
</html>