body{
    background-color: rgb (75 85 99 );
}

.input_nombre {
    border-radius: 7px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.input_pass {
    border-radius: 7px;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}
.button_login{
    border-radius: 7px;
    background-color: lightblue;
    margin-left: 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}