@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 12px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357abd;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.chatbox {
  padding-bottom: 1rem;
}

.text {
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#mensajes {
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#mensaje {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 150px;
  resize: none;
  word-wrap: break-word;
  white-space: normal;
}
.button-send {
  transition: margin-right 0.2s ease;
}

.no-rounded {
  border-radius: 0;
}

#userList {
    max-height: 150px; 
    overflow-y: auto;
    width: 100%; 
    z-index: 10;
}

#main-content {
  transition: margin-left 0.3s ease-in-out;
}

#mdbar {
  transition: margin-left 0.3s ease-in-out;
}

#sidebar {
  transition: transform 0.3s ease-in-out;
}

.reply-info {
  font-size: 0.9em;
  color: #bbb;
  margin-bottom: 4px;
}
